<div class="modal">
  <div class="modal-content">
    <span class="close" (click)="selectFamilia.emit(null)">&times;</span>
    <h2>Buscar Familias</h2>    
    <form [formGroup]="formFamilia"><!-- (ngSubmit)="onFamiliaSubmit()">-->
      <input formControlName="nombre" placeholder="Buscar..." (input)="search()"/>
      <button class="btn btn-outline-success" (click)="onFamiliaSubmit()" [disabled]="formFamilia.invalid"><span class="bi bi-cloud-plus"></span></button>      
      <button class="btn btn-outline-primary" (click)="openFamilia()" [disabled]="familias.length==0"><span class="bi bi-box-arrow-in-right"></span></button>
    </form>
    <ul>
      <li *ngFor="let familia of familias" (click)="select(familia)">        
        {{ familia.nombre }}
      </li>
    </ul>
  </div>
</div>