<header>
  <img src="logoMGR.webp" fill="none" class="logo" height="50"/>
  Tu Familia es Mi Familia
  <a (click)="loginSvc.logout()">
    <img [src]="loginSvc.usr.photoURL" width="50" height="50" />
  </a>
</header>
<main class="main">
  <div class="content">
    <div class="left-side"><app-menu /></div>
    <div role="separator" aria-label="Divider" class="divider"></div>
    <div class="right-side">            
      <router-outlet />
    </div>
  </div>
</main>
<footer>
  <p>&copy; 2025 Misión Gran Río</p>
</footer>