<main _ngc class="main">
  <div _ngc class="content">
    <div _ngc class="left-side">
      <h3>
        <img src="logoMGR.webp" fill="none" class="angular-logo" height="50"/>
        Tu Familia es Mi Familia
        <a (click)="loginSvc.logout()">
          <img [src]="loginSvc.usr.photoURL" width="50" height="50" />
        </a>
      </h3>      
      <router-outlet />
    </div>
    <div _ngc role="separator" aria-label="Divider" class="divider"></div>
    <div _ngc class="right-side">
      <app-menu />
    </div>
  </div>
</main>
<footer>
  <p>&copy; 2024 Misión Gran Río</p>
</footer>