<h4>Gestión de Aportantes</h4>
<h6>Aporte de {{costoAporte}}Bs por Flia. Beneficiaria</h6>
<br>
<input *ngIf="!isFormVisible" [(ngModel)]="searchTerm" class="form-control" id="myInput" type="text" placeholder="Buscar..">
<button (click)="toggleForm()" id="toggleFormBtn" class="btn btn-success"><span class="bi bi-file-earmark-plus"></span></button>
<form *ngIf="isFormVisible" [formGroup]="formAportante" (ngSubmit)="onSubmit()">    
    <input type="text" id="nombreFam" formControlName="nombreFam" required class="form-control" placeholder="Flia Aportante..">
    
    <input formControlName="fliaBeneficiaria" class="form-control" id="beneficiaria" type="text" placeholder="Flia Beneficiaria..">
    <button type="button" (click)="addBeneficiario()">Agregar Beneficiaria</button>
    <select multiple id="beneficiarios" formControlName="beneficiarios" class="form-control">
      <option *ngFor="let option of this.formAportante.get('beneficiarios')?.value" [value]="option.id">
        {{ option.nombreFam }}
      </option>
    </select>
    
    <input formControlName="monto" class="form-control" id="monto" type="text" placeholder="Monto Depósito..">
    <label for="mesInicio" class="form-control">Mes Inicio:</label>
    <input formControlName="mesInicio" class="form-control" id="mesInicio" type="date" placeholder="Mes Inicio..">

    <button type="button" (click)="addAporte()">Agregar Aporte</button>
    <select multiple id="aportes" formControlName="aportes" required class="form-control">
      <option *ngFor="let option of this.formAportante.get('aportes')?.value" [value]="option.id">
        {{ option.mesCubierto }}
      </option>
    </select>
    
    <button type="submit" class="btn btn-outline-success">Agregar</button>
    <button type="reset" class="btn btn-outline-danger" (click)="formAportante.reset()">Limpiar</button>
</form>           
<br>
<!-- Tabla dinámica -->
<table *ngIf="!isFormVisible" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th *ngFor="let column of columns" (click)="sort(column)">
        {{ column.toString() | titlecase }}
        <span *ngIf="sortColumn === column">
          {{ sortDirection === 'asc' ? '🔼' : '🔽' }}
        </span>
      </th>
      <th>Acción</th> <!-- Columna de acción estática -->
    </tr>
  </thead>
  <tbody>
    <!-- Mostrar los datos filtrados y ordenados dinámicamente -->
    <tr *ngFor="let item of filteredData; let i = index">
      <td *ngFor="let column of columns">
        {{ item[column] }}
      </td>
      <td>
        <!-- Botones o acciones -->
        <button class="btn btn-outline-success" (click)="selectRecord(item, i)">
          <span class="bi bi-box-arrow-in-right"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>